.landing-section {
    min-height: 100vh; 
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 1);
    box-sizing: border-box; 
}
  
.landing-container {
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem; 
    width: 100%;
}
  
.landing-title, .landing-subtitle {
    text-align: center;
}
  
.landing-title {
    font-size: clamp(36px, 4vw, 52px);
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1;
    color: var(--color1); 
}
  
.landing-subtitle {
    font-size: clamp(30px, 4vw, 44px);
    letter-spacing: -0.02em;
    line-height: 0.8;
    font-weight: 600;
    color: var(--color1); 
}
  
.landing-text {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    max-width: 768px; 
}
  
.landing-buttons {
    display: flex;
    gap: 1.5rem;
}
  
.landing-button-primary, .landing-button-secondary {
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
}
  
.landing-button-primary {
    color: #dda15e;
    background-color: #255FDA; 
}

.landing-button-secondary {
    background-color: #000;
    color: #fff;
    border: 0.1px solid rgba(255, 255, 255, 0.9); 
}
