nav {
  width: 100%;
  padding: 1.5rem 5rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  backdrop-filter: blur(10px);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: .1px solid transparent; /* Border only at the bottom */
  background-clip: padding-box, border-box; 
  border-bottom: 1px solid rgb(48, 48, 48);
}

nav .text-title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
}

nav .nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

nav .nav-links a {
  text-decoration: none;
  color: #fff;
}

nav .nav-links a:hover {
  text-decoration: underline; 
}

nav .start-button {
  background-color: #255FDA; 
  color: white;
  border: none; 
  padding: 0.5rem 1rem;
  border-radius: 1rem; 
  cursor: pointer;
  font-size: 1rem;
}
