/* Define the animation for sliding up */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px); /* Starts from below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Ends at the normal position */
    }
}

/* Basic styles for the container and card sections */
.container_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 60px;
    background-color: black;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.card_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin: 0 15px 40px 15px;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
    height: 30vw;
    box-sizing: border-box;
    opacity: 0; /* Start invisible for animation */
    transform: translateY(50px); /* Start from below */
    animation: slideUp 0.6s ease-out forwards; /* Apply animation */
}

/* For even cards: text on the left, image on the right */
.card_section:nth-child(even) {
    flex-direction: row-reverse;
}

/* Text section styles */
.text_section {
    width: 40%;
    padding-right: 10px;
}

/* Image section styles */
.image_section {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

.image_section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Target specific images for resizing */
.card_section:nth-child(2) .image_section img,
.card_section:nth-child(4) .image_section img {
    width: 90%; /* Decrease the width by 10% */
}

/* Additional styles for other sections */
.details_section {
    color: rgb(151, 151, 151);
    margin-top: 3vw;
}

.parent_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
    background: linear-gradient(rgb(31, 33, 37) 0%, rgb(31, 33, 37) 100%);
    height: 18vw;
}

.details_header_section {
    text-align: center;
    max-width: 700px;
    color: grey;
    font-size: 1.15rem;
    position: relative;
    top: -20px;
}

.header_section span {
    color: #ef233c;
}

/* Add the visible class for animation effect */
.card_section.visible {
    opacity: 1;
    transform: translateY(0); /* Ensures the element is at its normal position */
    animation: slideUp 0.6s ease-out forwards; /* Apply animation */
}
